:root {
    --green-light: #fff;
    --green-dark: #00BF6F;
    --green-milky: #F1FDF8;
    --gray: #646464;
}

html {
    scroll-behavior: smooth;
}

h2 {
    color: var(--gray);
}


.header-section {
    background: #000 !important;
}

.btn-primary:not([href]), .btn-primary:not([href]):not([href]):not(:disabled):not(.disabled), .btn-primary:not(label.btn), .btn-primary:not(label.btn):not([href]):not(:disabled):not(.disabled) {
    background-color: var(--green-light) !important;
    border-color: var(--green-light);
}

.btn-primary{
    color:#000 !important;
}

.container space-2 {
    padding-top: 500px;
}


.btn-success:not([href]), .btn-success:not([href]):not([href]):not(:disabled):not(.disabled), .btn-success:not(label.btn), .btn-success:not(label.btn):not([href]):not(:disabled):not(.disabled) {
    background-color: var(--green-light) !important;
    border-color: var(--green-light);
}

.btn-soft-indigo {
    color: #fff;
    background-color: rgba(45,21,130,.1);
    border-color: transparent;
}

    .btn-soft-indigo.active, .btn-soft-indigo:active, .btn-soft-indigo:focus, .btn-soft-indigo:hover {
        color: #383838;
        background-color: #fff !important;
        box-shadow: 0 4px 11px rgb(45 21 130 / 10%);
    }

#hero-section {
    background: var(--green-milky) url('../img/flocard/bg--header-white.png') repeat-x bottom;
}

.section-heading {
    text-align: center;
    color: #646464;
    padding-top: 2rem;
}
/* Font */
@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir.woff?#iefix') format('embedded-opentype'), url('../fonts/Avenir.woff') format('woff'), url('../fonts/Avenir.ttf') format('truetype'), url('../fonts/Avenir.svg#Avenir') format('svg');
    font-display: swap;
}

p {
    font-family: 'Avenir', Helvetica, sans-serif;
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Avenir';
    color: #fff;
}

.h3 {
    color: #646464;
}

.bg-light {
    background-color: var(--green-milky) !important;
}

.card-btn-toggle {
    color: var(--green-dark);
}

.btn-link:hover {
    color: var(--green-dark);
}

.carousel-control-prev .fas, .carousel-control-next .fas {
    font-size: 30px !important
}

.carousel-control-next, .carousel-control-prev {
    color: #000;
    opacity: .9;
    top: -200px;
}

    .carousel-control-next:focus, .carousel-control-next:hover, .carousel-control-prev:focus, .carousel-control-prev:hover {
        color: #000;
        opacity: 1;
    }

.carousel-control-next {
    right: -55px;
}

.carousel-control-prev {
    left: -55px;
}
/* Navigation */

.navbar-expand-lg .navbar-nav .nav-link {
    color: #fff;
}

/* Logo */
.navbar-brand {
    width: 20px;
}

    .navbar-brand, .navbar-brand > img {
        width: 160px;
    }

.brand {
    width: 160px;
    height: 43px;
}

/* Buttons */
.nav-btn {
    border-radius: 32px;
    width: 9rem;
}



/* Header */
#hero-header {
    color: #646464;
    size: 54px;
}

#hero-image {
    width: 500px;
}

#faqs {
    color: #00D179;
}

.img-faq {
    width: 270px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding-top: 20px;
}

.nav .nav-link:not(.active):hover {
    color: var(--green-dark);
}

.navbar {
    padding: 5px 0;
}

.hero-bg {
}
/* Footer Headers */
.text-white font-weight-bold {
    color: #00D179;
}

#footer-header {
    color: #00D179;
}

#footer {
    background-color: #E2FAF0;
}

footer {
    padding: 15px 0;
}


/* images */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

/*======================
    404 page
=======================*/


.page_404 {
    padding: 90px 0;
    background: #fff;
    font-family: 'Avenir', Helvetica, sans-serif;
    ;
}

    .page_404 img {
        width: 100%;
    }

.four_zero_four_bg {
    background-image: url(/homeassets/img/flocard/404.jpg);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat
}

    .four_zero_four_bg h1 {
        font-size: 80px;
    }

    .four_zero_four_bg h3 {
        font-size: 80px;
    }

.link_404 {
    color: #fff !important;
    padding: 10px 20px;
    background: #00d17a;
    margin: 20px 0;
    display: inline-block;
}

.contant_box_404 {
    margin-top: 10px;
}
/* 404 Ends */

/* Footer social Media */

.signin-button {
    color: #00d17a !important;
    border-color: #00D179 !important;
}

footer h3 {
    color: var(--green-light);
    font-weight: normal;
    font-size: 18px;
}

footer li {
    font-size: 12px;
}

footer .social-group li a {
    background: #383838 !important;
    border: 1px solid #eee
    /*-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.45);
-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.45);
box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.45);*/
}

footer .btn-icon.btn-xs {
    font-size: 1rem;
    width: 2.5rem;
    height: 2.5rem;
}

.space-lg-3, .space-top-lg-3 {
    padding-top: 6rem !important;
    padding-bottom: 0rem !important;
}

.card-collapse {
    padding: 0 15px;
}

.card-body p {
    font-family: 'Avenir', Helvetica, sans-serif;
    font-size: 17px;
    padding: 0 15px;
}

@media (min-width: 992px) {
    .min-vh-lg-100 {
        min-height: 740px;
    }
}

.space-2 {
    padding-top: 0rem !important;
}

.badge-success {
    background-color: #00d179;
}
.text-medium {
    color: #677788;
}

a {
    color: #000
}
    a:hover {
        color: #000;
        text-decoration: none;
    }

.flocard-green {
    color: #00d179 !important;
}

.btn-link {
    font-weight: 400;
    color: #00d179;
    text-decoration: none;
}

.tncpara {
    font-family: 'Avenir', Helvetica, sans-serif;
    font-size: 17px;
    /*padding: 0 15px;*/
}

.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}

.bg-flocard {
    background-color: black !important;
}

@media (max-width: 991.98px) {
    .header-bg-transparent .navbar-nav, .header-bg-transparent-lg .navbar-nav, .header-bg-transparent-md .navbar-nav, .header-bg-transparent-sm .navbar-nav {
        background-color: #060606;
        padding: 0.875rem 1.5rem;
    }

}

body {
    background-color: #383838 !important;
    color: #fff;
}

.nav .nav-link {
    color: #fff !important;
}

section{
    background-color : #000
}

.thick {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: #00d179;
    text-decoration-thickness: 5px;
}

.bg-white
{
    background-color: #fff;
}